/* a {
  color: red !important;
}

.a_one {
  color: blue !important;
}

.a_two {
  color: green !important;
} */

body {
  min-width: 320px;
}

.join2_header {
  text-align: center;
  margin-top: 2rem;
}
.join2_title {
  font-size: 2.3rem;
  font-weight: 700;
}
.join2_cont {
  max-width: 640px;
  margin: 0 auto;
  color: #1c1c1c;
  padding: 3.2rem 1rem 2.5rem;
}
.step_nav {
  width: 100%;
  padding: 0 0 2.9rem;
  display: flex;
  justify-content: center;
}
.step_nav_ul {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
}
.step_nav li {
  /* white-space: nowrap; */
  /* flex: none; */
  font-size: 1.85rem;
  font-weight: 700;
  letter-spacing: -2.4px;
  color: #e5e5e5;
  position: relative;
  line-height: 1;
}
.step_nav li.selected {
  color: #1c1c1c;
}
.step_nav li.selected1 {
  color: #1c1c1c;
}
.step_nav .selected:after {
  content: "";
  width: 0.45rem;
  height: 0.45rem;
  background: #e43d30;
  border-radius: 0.5rem;
  position: absolute;
  top: -0.85rem;
  /* left나 top으로 요소를 정가운데로 두는 방법 중 하나입니다. 
  x축, y축 모두 가운데로 두려면 translate(-50%,-50%)으로 하면 됩니다 */
  left: 50%;
  transform: translateX(-50%);
}
.step_nav li.selected + .step_nav_arrow,
.step_nav li.selected1 + .step_nav_arrow,
.step_nav li.complete + .step_nav_arrow {
  opacity: 1;
}
.step_nav_arrow {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background: url(./img/icon_arrow_right_03.svg) 52% 50%/10px no-repeat;
  opacity: 0.15;
}
.title_2 {
  font-size: 1.4rem;
  line-height: 1.39;
  font-weight: 700;
}
.title_2_text {
  font-size: 0.9rem;
  font-weight: 300;
  color: #000;
  margin-top: 0.5rem;
}
.btn-wrap {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto 0;
}
.btn-wrap > * {
  flex: 1;
}
.btn-type-3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  border: solid 1px #ccc;
  min-height: 3rem;
}
[class*="btn-type-"] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 0.85rem 1.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.2;
  border-radius: 2px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: -0.6px;
  min-height: 50px;
  background: #fff;
}
[class*="btn-type-"] > span + span {
  margin-left: 0.5rem;
}
.txt-imp {
  margin-top: 1.5rem;
  display: block;
  padding-left: 1.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.43;
  background: url(./img/icon_error.svg) 0 1px/1rem no-repeat;
  /* word-break: keep-all; */
}

.btn-type-3:hover {
  border-color: rgb(29, 29, 29);
}

@media screen and (max-width: 680px) {
  /* vw는 가로폭의 n퍼센트만큼 크기를 준다는 건데
  특이한 경우 아니면 웬만해서는 안 쓰는 거 같더라구요. 저는 편해서 자주 씁니다.. */
  .step_nav {
    font-size: 2.8vw;
  }
  .step_nav li {
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.7em;
  }
  .step_nav_arrow {
    width: 0.5em;
    height: 0.5em;
  }
  .step_nav .selected:after {
    width: 0.3em;
    height: 0.3em;
    top: -0.6em;
  }
}
@media screen and (max-width: 320px) {
  .step_nav {
    font-size: 0.4rem;
  }
}
